# --- Dependencies & Python Junk ---
node_modules/
venv/
venv311/
venv*/
.venv/
env/
__pycache__/
*.pyc

# --- Environment Variables (Secrets) ---
.env

# --- AI Model (VERY IMPORTANT) ---
# Ye files GitHub par nahi jayengi kyunki ye heavy hain
*.pth
*.h5
*.keras
model/

# --- User Data ---
# User ki upload ki hui images code ka hissa nahi hain
uploads/

# --- System files ---
.DS_Store
Thumbs.db

# --- Build outputs ---
dist/
build/
